# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# FastAPI / Cache
backend/app/cache/
backend/app/fastf1_http_cache.sqlite

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Local DB (if any)
*.db
*.sqlite
